[2020-08-27 17:27] brentp opened #1 "LICENSE"
there is no license for the code

[2020-09-19 20:10] #1 closed

[2020-10-05 14:53] brentp opened #2 "d4utils stat: show available stats"
what are the available stats?
[code]

[2020-10-05 16:26] brentp opened #3 "c-api doesn't allow setting parameters when writing a new d4 file"
for example, i'd like to turn on deflate and set the level.

[2020-10-23 15:31] arq5x opened #5 "d4 view and d4 stat should accept a BED file of regions to report on."
Currently it appears that all regions must be provided on the command line. This is infeasible for users that want to investigate thousands of regions.

[2020-10-25 21:16] snystrom opened #7 "stat breaks pipes"
Piping the output from `stat` will break pipes if printing several lines. I believe this is because `println!` is unbuffered. I think the fix is to `io::stdout` instead of `println!` as this should properly buffer the output. Below is an example using `-s hist` on 1 bed region, but the error can be caused using a bed file with multiple regions and a single-value summary stat like "mean". I believe

[2020-10-25 21:46] snystrom opened #8 "stats from repeated regions behave strangely"
There is some odd behavior when using `stat` from a bed file when the bed file contains duplicated regions. The stat will run correctly for the first occurrence of the region, then subsequent instances will be reported as 0. This happens for `mean`, `median`, and `percentile` but not `hist`.

## Example bed file:

`regions.bed` below
[code]

## Example of unexpected behavior

This happens with `me

[2020-10-26 10:30] lindenb opened #9 "depth is 0 for samtools/examples/toy.sam"
I tried to play with d4 and https://github.com/lindenb/jvarkit/blob/master/src/test/resources/toy.sam sorted and converted to bam ( https://github.com/lindenb/jvarkit/blob/master/src/test/resources/toy.bam )

I created a d4 with

`./target/release/d4utils create -Azr ~/src/jvarkit/src/test/resources/toy.fa -q 0 ~/src/jvarkit/src/test/resources/toy.bam`

'view' returns a depth=0 everywhere:

[code]

[2020-10-26 12:34] snystrom commented on #9
I also experience this issue on my own data. Using a bam file returns 0 coverage everywhere, but converting that to a bigwig, then using the bigwig to make the d4 returns the expected coverage values.

[2020-10-26 15:24] arq5x opened #10 "rename binary d4tools to be consistent with manuscript and convention"

[2020-10-26 15:38] arq5x commented on #9
It looks like the recent change to override the minimum map qual of 60 isn't working. With my test, it is always 60 no matter what is provided on the CL. Therefore since none of the alignments in the test have MAPQ >=60, the depth is zero. Should be a simple fix for @38.

https://github.com/38/d4-format/blob/master/d4utils/src/create/main.rs#L89-L91

[2020-10-28 22:18] 38 commented on #9
This should be fixed in the latest commit, thanks for reporting!

[2020-10-28 22:18] #9 closed

[2020-10-28 22:26] 38 commented on #7
Got this fixed in master branch, thanks for reporting the issue!

[2020-10-28 22:26] #7 closed

[2020-10-28 22:28] 38 commented on #5
I believe this is already supported:

[code]

[2020-10-28 22:28] #5 closed

[2020-10-28 22:35] #10 closed

[2020-10-28 22:36] #2 closed

[2020-10-29 01:00] snystrom commented on #7
Thanks! Ah, I see I was wrong about the buffering. Still a Rust newbie. 👍

[2020-10-30 15:56] arq5x commented on #10
Is this done?

[2020-11-13 20:15] #8 closed

[2020-11-25 20:34] snystrom commented on #8
Hi,

I think this error persists with slightly different behavior. Now when I run `stat` I just get 0 for all regions. Again, expected behavior is `39.93615963641528` for all regions.

[code]

I can confirm this because when I `view` the region, all entries are >0 so there's no way the mean can be 0. Also, when looking at the file from which it was created (in this case, a bigwig) there is high si

[2020-11-25 20:35] snystrom commented on #8
I should also mention, that when running `stat` on just a single instance of this region also returns `0`, so the problem is now worse.

[2020-11-25 20:52] snystrom opened #11 "Suggestion: automate binary deployment w/ github releases"
I've just run into an annoying issue building on a system where I lack `sudo`. While compiling locally with `cross` is possible for me, it would be great if folks could grab the latest binary from github directly. This would go a long way for getting less tech savvy users to adopt the tool.

I've had luck automating rust deployments on github release with this action: https://github.com/snystrom/b

[2020-11-29 13:32] arq5x commented on #8
Hi @snystrom, would you mind providing a minimal file to reproduce this?

[2020-11-30 03:42] snystrom commented on #8
Sure thing. Here's a bigwig file & a bash script to reproduce the error. Let me know if there's anything else you need.

[issue-8-example.tar.gz](https://github.com/38/d4-format/files/5613690/issue-8-example.tar.gz)

[code]

[2020-11-30 17:55] 38 commented on #8
Thanks for reporting this. And this is a different bug from the original one and I published the new version with the fix to this bug.

[2020-11-30 18:05] snystrom commented on #8
Some more details about the d4 file I'm using. In the example I uploaded, I use a bigwig, but I've also done this from a bam file & got the same result (even when setting -q 0 for the bam), so I think it's not the input type.

[2020-11-30 19:29] 38 commented on #8
Yep, I can confirm this bug  - and this should be fixed in version 0.1.16

[2020-11-30 19:37] snystrom commented on #8
Just messed around with the new version & can confirmed fixed! Thanks!

[2020-11-30 22:20] snystrom opened #12 "stat produces incorrect results when using secondary table"
I'm having an error where `stat` produces incorrect results depending on how the d4 file was generated.

If generated using the default `d4tools create`, I get incorrect values for `mean` and `median`. However, if generating the file using `d4tools create -S`, that d4 file produces accurate median and stat measurements. Accessing the values using `d4tools view` is accurate, however for both types

[2020-11-30 22:22] snystrom commented on #12
And a reproducible example using `d4tools 1.16`:
[issue-12-example.tar.gz](https://github.com/38/d4-format/files/5619055/issue-12-example.tar.gz)

`md5sum: 4dbe38988bb191fe093336c3d83d6961  issue-12-example.tar.gz`

[2020-12-20 17:16] arq5x opened #14 "Add links and examples for the C and Python API to the main README."

[2021-01-17 02:08] ssadedin opened #15 "Specification for D4 Format?"
I was interested in creating a parser in Java but couldn't find any info about the binary format. Would it be possible to create a succinct description of the on-disk format? Or did I miss it?

[2021-01-24 12:11] af8 opened #16 "BAM records filtering based on flag ?"
Hi,

Is it possible to select bam records used for d4 file calculations based on bam flag value (as it is done in mosdepth with `--flag 1796`) ?

And if not possible at this time, are duplicates included or excluded from `d4 create` command ?

Thanks
Anthony

[2021-01-25 20:20] af8 opened #17 "d4tools create randomly fails"
When I try the command `d4tools create -Az -t2 -q10 HG00512.bam`, I got the following error message but not all the time. Sometimes it completes properly.

[code]

HG00512.bam is a small (358K) bam file with reads only on chr4 and chr8 used for testing purposes.

d4 (commit 51fa106) has been built in debian-10.5 docker image with rustup toolchain manager version 1.23.1,
cargo and rustc version 1.4

[2021-01-28 18:31] 38 commented on #17
Thanks for reporting this. I believe this can be fix quite easily - it panics only when logging the time elapsed.

[2021-01-28 18:32] #17 closed

[2021-02-16 20:32] arq5x commented on #16
@38 this would be a very helpful feature to add.  Can you tackle it when you have a chance?

[2021-03-03 10:50] af8 commented on #16
@38 I was also thinking that incorporating a threshold on MapQ could be very useful as well.
Many thanks

[2021-03-03 11:22] af8 commented on #16
Sorry just realized this mapq option actually exists :-)

[2021-03-18 13:53] alxsimon opened #18 "change max bin for stat histogram"
Hi, is there any way to specify the max bin for the histogram stat?
Thanks

[2021-03-22 14:44] arq5x commented on #18
@38 this would be a nice feature.  Essentially, define `--maxbin 100` and any value greater than or equal to 100 would be lumped into the same bin.

[2021-05-05 18:22] 38 commented on #18
Thanks for suggestion, this feature is supported in the latest master branch.

[2021-05-05 18:22] #18 closed

[2021-05-06 07:08] alxsimon commented on #18
Thanks for taking it into account :)

[2021-08-18 00:13] arq5x commented on #16
@38 can you close this issue?

[2021-08-18 12:07] arq5x opened #20 "Auto-detect sparse (k=0) format."
Currently, for RNA-seq, ChIP-seq, etc., one must use `-S` when running `create` from a bigWig file. This should be auto-detected during `creation`.

For example, consider this Chip-seq bigwig file from ENCODE:

    wget https://www.encodeproject.org/files/ENCFF405ZDL/@@download/ENCFF405ZDL.bigWig
    mv ENCFF405ZDL.bigWig ENCFF405ZDL.bw
    ls -h ENCFF405ZDL.bw
    1.0G Dec 10  2020 ENCFF405ZDL.bw

[2021-08-18 12:08] arq5x opened #21 "Allow view to accept a BED file of regions as input"
Currently, the `view` command will accept a list of regions in <chr:start-end>... format on the CL. It would be a nice addition to allow a BED file to be specified view `-r` as well.

[2021-08-18 14:30] snystrom commented on #12
Not to be a nuisance, but is this a case of user error, or is this a real bug? This effect is a major blocker for adoption of this format for a few projects.

[2021-08-18 14:31] arq5x commented on #12
I agree, @38 could you look into this ASAP?

[2021-08-18 14:39] arq5x commented on #12
@snystrom just to confirm, this behavior exists on the latest (0.2.18) version as well, correct?

[2021-08-18 15:13] snystrom commented on #12
Yeah I just checked it.

[2021-08-18 15:20] snystrom opened #22 "Version numbers for util subcommands are 0.1.0"
This is very minor, but running `d4tools --version` doesn't return the current version number, furthermore the `--version` flag for subcommands still returns 0.1.0 despite the `d4tools` version being at `0.2.18` (or whatever).

[2021-08-18 19:40] 38 commented on #12
Hi there, thanks for reporting this issue. It should be fixed by the latest commit. It would be great if you can confirm that. Thanks!

[2021-08-18 19:42] 38 commented on #15
Hi there, please check https://www.biorxiv.org/content/10.1101/2020.10.23.352567v2.full.pdf for detailed format spec (starting from page 13)

[2021-08-18 19:42] #15 closed

[2021-08-18 19:47] arq5x commented on #12
Great. This fixed it on my laptop.

[2021-08-18 22:58] snystrom commented on #12
Confirm also fixed on my end, thanks a bunch!

[2021-08-19 16:09] arq5x commented on #3
@brentp and @38 is this still an issue?

[2021-08-19 16:40] arq5x opened #23 "Odd results from stat command"
Consider the following sparse D4 file created from an ENCODE bigwig file:

    wget https://www.encodeproject.org/files/ENCFF405ZDL/@@download/ENCFF405ZDL.bigWig
    time d4utils create -S  ENCFF405ZDL.bigwig ENCFF405ZDL.bigWig.d4

Now, create 10 random intervals in BED format to compute stats upon:

    bedtools random -n 10 -l 100 -g human.hg38.genome | sort -k1,1 -k2,2n | cut -f 1-3 > test.bed

[2021-08-19 17:41] #23 closed

[2021-08-19 17:41] #12 closed

[2021-08-19 17:41] #16 closed

[2021-08-19 19:00] arq5x opened #25 "[ENH] Add HTTP range support"

[2021-08-19 19:01] arq5x opened #26 "[ENH] Multiple file/track support"
ENCODE and IGVF would love this functionality. Allow all *seq datasets for a given sample (e.g. all TF ChIP-seqs, ATACs) to be stored/queried in one D4 file, likely with distinct P and S tables per track. Seemingly doable with the containerize format.

[2021-08-19 19:04] arq5x opened #27 "[ENH] Is there utility for single-cell genomics?"
ENCODE folks suggested this was a need. What are the current bottlenecks?  Speed? ANalytical flexibility?

[2021-09-16 11:56] moonso opened #30 "Dockerfile"
Thanks for a great tool! It would be nice with a docker image for this to simplify usage for some.
I will open a PR.

Also a question if you would like to host an official docker image somewhere? We will probably host one image for ourselves but it would be nice if you added automatic builds and hosting of the latest version from this repo.

[2021-09-21 12:49] jmarshall opened #32 "README.md refers to nonexistent d4tools crate"
Since #10 and d9a7978488ef67b15ed9335678b104f0bc647420 the previous `d4utils` command has been renamed to `d4tools`. However the README still refers to the previous command name throughout:

etc

[2021-09-21 13:29] arq5x commented on #32
Thanks for reporting this, @jmarshall. @38, PR 33(https://github.com/38/d4-format/pull/33) fixes this. However, a crate does not exist for d4tools (it is for d4utils), so the README in the PR incorrectly refers to `cargo install d4tools`. Could you please update the crate to the correct `d4toools`?

[2021-09-21 14:47] jmarshall opened #34 "D4 file format magic number"
_d4/src/d4file/mod.rs_ defines `FILE_MAGIC_NUM` as `b"d4\xdd\xdd"` and the four characters do indeed appear in that order in .d4 files:

[code]

However the Supplementary Notes in the paper describes the file header as

Offset | Name | Type | Value
--|--|--|--
0 | File Magic Number | [u8;4] | "\xdd\xddd4"
4 | Format Version | [u8;4] | [0,0,0,0]
8 | Frame File Root | Directory | Primary Size = 512

[2021-09-21 16:49] 38 commented on #34
Yes, you are right it should be the value defined in the source code file.

Yes, that's the case. The version number is bytes reserved for future use to distinguish the breaking change we may want to make in the future. So currently I think we can ignore that until there's a real need to use the version number bytes.

[2021-09-21 17:39] #30 closed

[2021-09-22 09:10] jmarshall commented on #32
PR #33 has now been merged, fixing the original issue. The README now refers to `cargo install d4tools` but that crate does not yet appear to exist, so I'll change the issue title accordingly:

[code]

[2021-09-23 16:49] arq5x commented on #32
Thanks @jmarshall. I know @38 has plans to update the crate as well.

[2021-09-23 16:51] arq5x commented on #34
@jmarshall let us know of any other issues you see with respect to htslib support for D4.  I have been asked to file an issue for htsget to propose support for interval and quantitative interval formats. I plan to do that this weekend and would welcome your thoughts there.

[2021-10-05 16:52] javiercguard opened #35 "Which d4utils version to use?"
Hi,
I was interested in using d4utils on combination with modepth, but I am not sure if I should build for source, or use the binary in the release, which is a year old, while the master branch seems to be updated recently. If the binary in the release is usable, I suppose it could be good for a bioconda package, too.

This may be related to issue (suggestion) #11, which asks for automatic binarie

[2021-10-13 23:34] 38 commented on #35
Yep, we are going to publish a newer version after the recent work completes. At this time, you probably can use the the published version - as the file specification doesn't change.

@arq5x It's possible for automatically build and upload the artifact with github action.

[2021-11-19 09:23] holmrenser opened #36 "d4tools is not on cargo, version numbers/releases?"
There is no d4tools on cargo, however there is a d4utils version 0.2.18. Additionally, there seems to be one version 0.1 release on github.

I would love to incorporate d4tools in some workflows, and have a go at trying the python API, but I strongly prefer semver releases over specifying commits in my documentation.

On a related note: many of my workflows make heavy use of conda, so I wouldn't m

[2021-11-19 20:38] 38 commented on #36
Hi, thanks for bring this up.

- d4tools is published on crates.io, however, the crate name is still "d4utils" which is the old name of d4tools.

- It's an known bug the CLI reports wrong version number - and this has been fixed in our master branch, but not yet on any release yet.

We are now working on preparing the next major release with a a lot of fix and improvements. Also, we have a much im

[2021-12-01 16:15] ramprasadn opened #37 "Expired SSL certificate causes d4-hts installation to fail"
Hi @38

I am working on creating a bioconda package for d4utils and I ran into this
![Screenshot 2021-12-01 at 17 05 04](https://user-images.githubusercontent.com/20065894/144270032-9e068034-dfeb-4a12-a8e4-5ede79456467.png)

It looks like the SSL certificate for [this site from where the script downloads bzip2](https://whatsmychaincert.com/?pilotfiber.dl.sourceforge.net) has expired. Would it be p

[2021-12-03 00:21] 38 commented on #37
Of course, seems source forge doesn't maintains their certificate for some reason.

Thanks for reporting this!

[2021-12-07 15:49] ramprasadn commented on #37
Awesome! Thanks 👍🏻

[2021-12-09 12:04] lindenb opened #38 "cargo build. => feature `edition2021` is required"
I'm trying to play with d4.

I started with compiling the library:

[code]

output is

[code]

my version of cargo (installed via `apt  install cargo`) is

[code]

is there something wrong or is there a minimal version of cargo required for compiling the library ?

Thanks.

[2021-12-09 20:09] 38 commented on #38
Hi there, it seems you need to use a newer Rust toolchain, as we previously changed the requirement of Rust edition from 2018 to 2021 since v0.3.0.

Please run
[code]
and try to compile again

[2021-12-10 16:12] #38 closed

[2021-12-10 16:13] 38 commented on #37
Just let you know the change was just released

[2021-12-10 16:13] #37 closed

[2021-12-10 16:13] #34 closed

[2021-12-10 16:13] #25 closed

[2021-12-10 16:14] #22 closed

[2021-12-10 16:14] #32 closed

[2021-12-10 16:14] #20 closed

[2021-12-10 16:15] #14 closed

[2022-01-06 20:45] bossiep1 opened #39 "Typo in page title - Quantatative"
Fyi: when for a 'hello, check this out' mail you copy/paste  'https://github.com/38/d4-format' it shows '38/d4-format: The D4 Quantatative Data Format (github.com)', there's a typo.

[2022-01-20 19:31] #39 closed

[2022-01-20 19:32] arq5x commented on #26
This is fixed in master and in the latest release

[2022-01-20 19:32] #26 closed

[2022-01-21 20:28] ivirshup opened #40 "d4toh5.py used for manuscript?"
Hi!

I'm trying to get a better understanding of this methods/ formats performance benchmarks, and had a question about the hdf5 results in the manuscript. Is the `d4toh5.py` ([called here](https://github.com/38/d4-format/blob/master/scripts-for-manuscript/figure4/make-hdf5.sh)) available somewhere?

I saw there is a script [`d4-format/pyd4/examples/d4toh5.py`](https://github.com/38/d4-format/blob

[2022-01-25 16:29] arq5x commented on #40
@38 could you please look into this?

[2022-01-26 20:44] boboppie opened #41 "Bug in build_htslib.sh?"
Dear @38 ,

Thank you for developing d4tools. When I compile the latest version (0.3.2), I constantly got a missing header error (bzlib.h), then I looked into build_htslib.sh, if we change "-Ibzip2-1.0.6" at line 53 to "-Ibzip2-1.0.8", it will sort it.

Best wishes,
Fengyuan

[2022-01-26 23:16] 38 commented on #40
Hi, please check https://github.com/38/d4-format/blob/master/pyd4/examples/d4toh5.py

[2022-01-26 23:27] 38 commented on #40
Hi @ivirshup , thanks for trying D4.

Actually this is intentionally that we make the HD5 file uncompressed for following reason.
D4 isn't designed to be most space efficient as our manuscript claims - it's a balanced solution for both reasonable file size and high sequential and random access speed.

1. If you look at our file size comparison, you may realize that D4 file size is actually larger

[2022-01-26 23:50] 38 commented on #41
Hi Fengyuan,

Thanks for reporting this. I just fixed this bug in master.

It would be nice if you can confirm the bug is actually fixed.

Thanks!

[2022-01-27 08:35] boboppie commented on #41
Dear @38 ,

I checked out master branch to a new location, and ran the build, I can confirm it finished successfully,

Many thanks for the quick fix.

Best wishes,
Fengyuan

[2022-01-27 15:01] ivirshup commented on #40
Thanks for getting back to me!

I might be a little bit confused by what the format of the HDF5 file used here is. My impression that the hdf5 file used in the benchmarks is compressed came from these bits of the paper:

Since a memory mapped array of larger unsigned integers is essentially what I expected an uncompressed hdf5 format to be (plus chunking and metadata).

And:

I'd also note that I'

[2022-01-30 17:16] af8 opened #42 "Build fails on CentOS7 : asks for -fPIC option"
Hi,

when trying to run on CentOS Linux release 7.8.2003 (Core), I obtain the following error for `cargo build [--release]`:

[code]
Is there something I can do about this ?

Thanks,
Anthony

[2022-01-31 13:55] af8 commented on #21
Hi,
Just a comment to know if this feature is still on the radar ? It would be indeed really nice to be able to do various custom computations supplying a bed file to `view`.
Thanks,
Anthony

[2022-01-31 14:34] arq5x commented on #21
Hi Anthony, absolutely. @38 is working on a new release that includes this functionality.

[2022-01-31 15:48] af8 opened #43 "exclude bam flag rather than include ?"
Hi,

If I am not wrong the `-F` flag in `d4tools create` is inclusive, meaning that you specify the bits you absolutely want to be set in the flag. Even though this could be useful, it seems to me that to create a d4 file you rather want to exclude some reads . For instance, create a D4 file with everything except reads marked as duplicates, supplementary or QC failed.

Would it be possible either

[2022-01-31 16:02] af8 opened #44 "Add some basic stat options: count / sum"
Hi,

sorry about the multiple issues :-)

I was thinking that it could be useful to have :
 - a `count` stat that could report the number of bases mapped in each region of the supplied bed file with `-r`
 - a `sum` stat (or other name) that reports the total number bases mapped in `-r` regions. So here the output would be a single number.

An application would be for instance to quickly compute on

[2022-01-31 20:48] 38 commented on #42
Hi Anthony,

Thanks for reporting this, could you please copy and paste the output for

[code]

I am not sure why it requires -fPIC.

Thanks!

[2022-01-31 20:51] 38 commented on #43
Thanks for the suggestion. I think we will introduce this in the next release!

[2022-01-31 21:08] af8 commented on #42
Sure. It's here :

[code]

[2022-02-02 02:13] 38 commented on #42
Hi,

I looked into the issue, the issue seems like OS specific. I just realized on different distributions, the rust toolchain will choose different relocation models. d4tools is originally designed to be statically addressed, but on your machine rustc try to produce a PIC executable which is conflict to the assumption.

The quick solution is instead of using `rust build`, use the following comman

[2022-02-02 04:46] udincer commented on #42
I can confirm d4tools successfully compiles with this solution under CentOS 7, but attempting to run it results in this error (at least in my environment): `d4tools: error while loading shared libraries: libssl.so.1.1`. Adding the following to `d4tools/Cargo.toml` before compiling resolved the issue (based on https://github.com/cross-rs/cross/issues/229#issuecomment-597898074):
[code]

[2022-02-02 05:47] udincer opened #45 "Dockerfile no longer works with edition = "2021""
It looks like the base image for rust is too old.
https://github.com/38/d4-format/blob/151f27cb06a32880f7e8d6e256b94d60361adf32/Dockerfile#L1
Changing `FROM rust:1.50 as builder` to `FROM rust:latest as builder` results in a mismatched types error:

[code]
Which is strange because I don't get this error when compiling not in a container.
After changing i8 to u8, it compiles, but gives me a libssl

[2022-02-02 09:24] af8 commented on #42
I can confirm that it compiles with your solution :

[code]

And on my system it runs now :

[code]

I do not have the problem of `libssl.so.1.1` shared lib missing mentioned by @udincer :
[code]

I have the problem of `libssl.so.1.1` though when I download the binary provided in the release. Cause it looks for `libssl.so.1.1` when only `libssl.so.1.0.2k` is available on my system. Perhaps providi

[2022-02-02 09:35] brentp opened #46 "change tracking"
mosdepth supports d4 output, but it's difficult to track what is needed as there is no changelog and no documentation for d4binding

It used to be that `cargo build --release` would create the libd4binding stuff in target/release. That is no longer the case.
I think that I have fixed this by using : `cd d4binding/ && cargo build --release && cd ..`
Is that the recommended way? using `cargo build -

[2022-02-03 18:16] 38 commented on #42
Thanks for reporting this. I am thinking about getting rid of openssl dependency completely for default build - that solves this issue as well.

The Rust community is actively working on the pure Rust implementation of SSL/TLS called rustls and I think we can depend on that.

So the only thing I decide to remove from the default feature set is the `d4tools serve` command, which starts a D4 server

[2022-02-03 18:27] 38 commented on #42
Closing the issue since we have pushed the change to address the issue to master:

- Adding additional workaround instruction for building d4tools
- Get rid of openssl dependencies from the default feature set for d4tools

Feel free to reopen the issue if you guys feel anything is missing.

Cheers!

[2022-02-03 18:27] #42 closed

[2022-03-17 22:23] tsackton opened #48 "pip install fails"
I can install the Python API successfully by cloning the git repo, but using pip install fails:
[code]

[2022-03-18 11:12] brentp commented on #46
Another recent change causes this error:
[code]
full log [here](https://github.com/brentp/mosdepth/runs/5599298383?check_suite_focus=true)

I don't think this is anything I can fix in the bindings, perhaps d4 doesn't like seeing those chromosomes in the header and not getting any data for them?

Here is the sam file:
[code]

[2022-03-18 19:25] 38 commented on #46
Hi Brent, I think this is caused by the recent change of the metadata

https://github.com/brentp/d4-nim/blob/master/src/d4pkg/d4_sys.nim#L34

Recently, I added an fix point feature so there's one more additional value in the metadata, so this causing misinterpretation of the metadata data structure defined in the nim binding.

See this change for details https://github.com/38/d4-format/commit/aa52

[2022-03-19 07:39] brentp commented on #46
Hi Hao, thanks for finding the change that caused the problem. I fixed it by updating the struct as you suggested.
I'll start tracking tagged versions or using the conda package; as you know, I started supporting d4 quite early in mosdepth so it wasn't practical originally to rely even on tags.

[2022-03-19 08:41] #46 closed

[2022-04-07 18:14] tsackton commented on #48
Pip install still failing. Error is now:

[code]

I think the problem is that zlib is now at version 1.2.12, so the hard-coded url does not work.

[2022-04-07 18:54] 38 commented on #48
Thanks for reporting this. This is due to the zlib website removed one file that D4 depends on.

Got this fixed on pypi already. Please let me know if the error persists. Cheers!

[2022-04-08 20:07] nathanweeks opened #49 "pyd4 manylinux wheel"
pyd4 is available as a python package, but only as a source distribution, requiring a rust compiler to install---which is still a rare find on hosts to Python. After a user obtains the Rust compiler infrastructure, about ~1.1 GB of Cargo packages are downloaded into the user's home directory as installation dependencies during a `pip install pyd4`, and the resulting build time is nontrivial. This

[2022-04-12 20:01] AaronErhardt opened #50 "Maintainance of plotters"
Reference: https://github.com/38/plotters/issues/333

I know this has nothing to do with this project, but I wasn't able to contact @38 and I wanted to give it a last shot before creating an unnecessary fork. I hope you understand :)

[2022-04-22 08:23] brentp commented on #46
Hi Hao, another recent change has cause this:
[code]
I see in the repo you have something about d4tools, but I really just need `libd4binding.a`. (and d4.h)

thanks in advance for any help with this.

[2022-04-25 18:06] 38 commented on #46
Hi Brent, I think you can just build the d4binding library so you can just build with

[code]

Please let me know if you have any other question.

[2022-04-27 15:50] arq5x commented on #46
did this work for you, @brentp ?

[2022-04-27 17:29] #50 closed

[2022-05-01 13:57] brentp commented on #46
Yes, this works now. Thanks!

[2022-05-04 22:44] #48 closed

[2022-05-31 15:18] pamelarussell opened #51 "`d4tools create` builds empty d4 file for small input files"
I'm trying to build small D4 files to test my code, and have not been able to get `d4tools create` to successfully build a file from a small bedgraph or bigwig file: the D4 output is always empty. It does work for large public data files. Here is an example with a small bedgraph file.

I'm running version 0.3.4 installed from bioconda.

[code]

[code]

[code]

[2022-05-31 18:22] 38 commented on #51
Hi @pamelarussell , thanks for reporting the issue.

I tried this locally, it seems you may have a file with space between fields - Please let me know if this is your case.

Thanks!

[2022-06-01 09:46] pamelarussell commented on #51
Thanks! That was the problem. Would it be possible to fail with an informative message for an invalid input file?

[2022-06-03 18:32] 38 commented on #51
Hi @pamelarussell, just pushed the fix for this bug. Please let me know if there's anything still wrong.

This change will allow d4tools detect if the input needs to be fractional values automatically. Please let me know if this works on your side. Thanks!

[2022-06-09 19:11] arq5x commented on #51
Does this work for you, @pamelarussell ?

[2022-06-10 10:37] pamelarussell commented on #51
The latest fix does work for fractional values, thanks @arq5x and @38 !

[2022-06-10 10:37] #51 closed

[2022-06-10 22:21] pamelarussell opened #52 "`d4::task::Histogram::with_bin_range()` returning distribution that is missing `0`s"
Hi,

I am seeing some unexpected behavior in calls to `d4::task::Histogram::with_bin_range()`. Specifically, I am invoking the method on a region that includes some `0`s and some positive values, but the returned histogram does not include the `0`s. The other value counts are correct.

Here is our [line of code](https://github.com/fulcrumgenomics/rd4/blob/b7a03618bb916b5f8c919e5cb498844f52e60d2e/s

[2022-06-11 18:44] snystrom commented on #52
Seems related to #12. Does it evaluate successfully if reading from a d4 made with `-S`?

[2022-06-13 15:23] pamelarussell commented on #52
Thanks @snystrom , unfortunately rerunning with a file generated with `-S` did not solve the issue.

[2022-06-13 23:47] 38 commented on #52
Hi @pamelarussell,

Thanks for reporting the issue. After digging into the issue, I found this is due to the way how the sparse D4 file is handled. Instead of the normal per-base mode, for the sparse D4 file, all the stats are handled per-interval.

However, previously we don't take the value that is not defined by the secondary table into account. I've added the code that handles those value that

[2022-06-13 23:50] 38 commented on #52
This should be related to enabling `-S`

The recent change to d4tools makes the tool smarter to detect the optimal parameters, so it will automatically enable `-S`. But in this case, `-S` option actually makes the stat task executed in a per-interval mode. And there is a bug the per-interval mode code is dropping all the values that is not defined in the secondary table.

[2022-06-14 17:36] pamelarussell commented on #52
Hi @38, I tried building the version from yesterday's commit, but `d4tools create` ran for an hour before I finally killed it. I'm not sure what is wrong; I'm trying to build from a pretty small bedgraph file. I tried both with and without the `-S` option. The latest stable version from conda works fine. Here are the bedgraph file and genome file. [bedgraph.zip](https://github.com/38/d4-format/fil

[2022-06-15 21:52] pamelarussell commented on #52
The stable version from conda took a couple of minutes (which did seem unexpectedly long), while the latest from GitHub ran for over an hour before I killed it.

If the original issue is related to reading/processing the file rather than writing, then I could use a bit of help with how to test your latest fix. I am not a Rust user and am building our crate from a `Cargo.toml` ([here](https://githu

[2022-06-15 23:39] sstadick commented on #52
Hi @pamelarussell! You should be able to specify a commit in cargo as follows:

[code]

Cargo will look for the `d4` crate in the `d4-format` workspace by default and use the commit specified in `rev`. You can also use `d4 = { git = "https://github.com/38/d4-format", branch="master" }` to just stay on the latest from @38

[2022-06-16 15:30] pamelarussell commented on #52
Thanks all. The latest fix seems to have worked and I am getting correct histograms now! 👍

[2022-06-16 15:30] #52 closed

[2022-06-27 19:25] mrvollger opened #53 "Multitrack D4 from python API without writing multiple intermediate d4 files"
Hello,

Thanks for the d4 toolkit, it is really useful.

I want to make a multitrack d4 file using the python API but I don't want to write a bunch of d4 files to disk just to read them back in with D4Merge.

Is there anyway to create a multitrack d4 without writing to disk?

Thanks!
Mitchell

[2022-06-30 17:34] mrvollger opened #54 "Bug in encoding data with pyd4 when using sparse"
Hello,

I have attached an example where pyd4 doesn't encode the underlying data correctly when using the sparse builder (I think):
[code]
Error:
[code]

Data file:
[1.bed.gz](https://github.com/38/d4-format/files/9022075/1.bed.gz)

However, if I comment out the `.for_sparse_data()` I get the correct results.

Am I somehow doing the sparse encoding wrong?

Thanks,
Mitchell

[2022-06-30 23:47] 38 commented on #54
Hi Mitchell,
Thanks for reporting this bug. I confirmed this bug and this is due to pyd4 doesn't flush the last data chuck and your input is small enough that all data is lost.

I've published a fixed version of pyd4 on pythonpi, would you mind confirm my fix works on your side?

Thanks,
Hao

[2022-07-01 02:42] mrvollger commented on #54
Hi Hao,

Thanks for a quick fix! It looks like everything on my end is now good.

Thanks again,
Mitchell

[2022-07-01 02:42] #54 closed

[2022-07-01 03:29] 38 commented on #53
Hi Mitchell,

Thanks for using D4! I agree that we are able to directly write a multi-track D4 file and this make the API way more easier to use, which means pyd4 creates temporary single track d4 file and automatically merge them.

When speaking the direct creation of multi-track this is harder to implement due to  some multi-threading limits. For more detailed explain is each track of D4 file re

[2022-07-01 06:45] mrvollger commented on #53
Hi Hao,

I opened this before I found `for_sparse_data()` and then left it open when I found that issue with `for_sparse_data`. Now that it works and the temp-files are small I don't mind writing all of these to disk anymore.

Feel free to close.

Thanks,
Mitchell

[2022-07-06 09:56] darked89 opened #55 "[enhancement] stat for a region/list of regions"
Hello,

Would it be possible to implement simple median coverage stats for a selected region?
While one can get the data using i.e. ```d4tools view input.bam 22:39349000-39349100```
there is "some scripting" step required.

Having such feature would make looping around some putative ChIP-Seq peak much easier.

Best wishes,

Darek Kedra

[2022-07-06 13:50] #53 closed

[2022-07-06 13:54] arq5x commented on #55
Hi Darek,

This is possible with the `stat` command:

    `d4tools stat -s median -r your.bed your.d4`

If you want just one region, you can use UNIX `echo -e` to create a BED file "on the fly":

   `d4tools stat -s median -r <(echo -e "chr22\t39349000\t39349100") your.d4

[2022-07-06 13:56] #40 closed

[2022-07-12 03:53] petersudmant opened #56 "create fails on some cram/bams"
I've noticed that some crams/bams seem to result in empty d4 files. I'm not quite sure why. An example are the HGDP cram files (e.g. ftp://ftp.1000genomes.ebi.ac.uk/vol1/ftp/data_collections/HGDP/data/Yi/HGDP01180/alignment/HGDP01180.alt_bwamem_GRCh38DH.20181023.Yi.cram).

I can even subset these to smaller bams (say including just a small portion of chr1) and creation still fails. Let me know if

[2022-07-12 17:01] petersudmant commented on #56
Here's an example bam: https://drive.google.com/drive/folders/1qKVTi4xnFrB9a3GXqGuWeXKaficFGMSR?usp=sharing

This was created by taking the aforementioned cram (see previous post) and running

[code]

the latest release d4-format-d4tools-v0.3.7 was used

[2022-07-12 20:18] darked89 commented on #55
Hello,

Sorry for the delay. I have found some non-intuitive output of d4tools and pyd4, see below.
In short: how comes that the mean coverage value for 100bp interval is reported as 0 with 39 non-zero  values?

Many thanks for your help

Darek Kedra

* d4tools
  * stats
[code]
  * view
[code]

* pyd4
[code]

The snippet of Python code:

[code]

Same region from the original BAM:

[code]

[2022-07-12 20:38] 38 commented on #56
Hi, just checked the BAM file, it seems the alignments mapping qualities are blow the default minimal mapping quality threshold.

You can add `-q 0` to the command arguments you run d4.

[code]

Note if not specified the default min mapping quality is set to 60.

[2022-07-12 20:57] petersudmant commented on #56
Ahhhhh -> the max quality in all these crams is 20 because it was capped. Thanks much. That was driving me nuts.

[2022-07-12 22:38] petersudmant commented on #56
Would be helpful if the --help noted that default was set

[2022-07-13 12:30] snystrom commented on #56
This same thing has bit me a couple times. My default assumption about how a tool like this should behave is that it would do no filtering unless asked. q60 is a _lot_ more stringent than I would expect for a default besides. Compare to other tools like [Deeptools bamCoverage](https://deeptools.readthedocs.io/en/develop/content/tools/bamCoverage.html) which do as few manipulations to the input dat

[2022-07-13 13:22] petersudmant commented on #56
+1 @snystrom

[2022-07-13 14:01] arq5x commented on #55
@38 can you look into why mean above is 0 and not 0.5 and explain the differences in behavior?

[2022-07-18 16:38] 38 commented on #43
Hi, just let you know we've released the new version of d4tools with this feature supported.

For example, you can now use the following option to filter all reads with proper pair flag but no QC failed flag.
[code]

Thanks!

[2022-07-18 16:38] #43 closed

[2022-07-19 08:15] darked89 commented on #55
Hello,

In case it is needed I can share the d4 file/minimal example giving that result. Or a mini-bam file.

* d4_tools version: D4 Utilities Program 0.3.4
* installed: ```conda install -c bioconda d4tools```

Hope it may help,

Darek Kedra

[2022-07-19 09:51] af8 commented on #43
Thank you very much !

[2022-07-21 22:05] 38 commented on #55
Hi @darked89 , I believe this is dup to issue #54 and is already fixed in the latest release.

I believe d4tools on bioconda is updated already, please check if the latest upgrade resolves this issue.

[2022-07-21 22:51] petersudmant commented on #56
Still seems to be a bug here, and something of a tricky one. Here's a tiny bam example:

https://drive.google.com/drive/folders/1qKVTi4xnFrB9a3GXqGuWeXKaficFGMSR?usp=sharing

This bam includes reads of various mapqs. Now, make a d4 file from this bam using -q0 or -q60. The results show that only the reads prior to the first q60 read are filtered out (I think). The d4 files are essentially identica

[2022-07-22 16:49] 38 commented on #56
Hi @petersudmant, thanks for reporting this bug. Just pushed a fix to the master branch, it would be really helpful if you can confirm the fix actually works.

[2022-07-22 17:03] petersudmant commented on #56
will do a bit later today! I noticed that `&&` =). But, it actually seems to work fine w/ & interestingly.  I'll let u know!

[2022-07-23 16:41] arq5x commented on #56
Given the critical nature of this fix, I think we need a new 0.4.0 release for the CLI and pyd4.

[2022-07-25 04:49] petersudmant commented on #56
My tests suggest this fix worked (though, I have only run on a couple of examples). Thanks so much! I'll run some more testing over the next 36 hours. To be sure, I concur w/ @arq5x - this is a massive change in the outputs of the d4 files. Thanks so much for being so responsive w/ these fixes!

[2022-08-04 15:57] toddrichmond opened #57 "Mapping quality filter not functioning"
Using "D4 Utilities Program 0.3.7" installed with conda

I created 3 d4 files using different mapping quality filters:

d4tools create --mapping-qual 0 S01_HyperPlus_Program1_HyperExomev1_Rep1_S1_sorted_dupsrm.bam  MQ0.d4
d4tools create --mapping-qual 20 S01_HyperPlus_Program1_HyperExomev1_Rep1_S1_sorted_dupsrm.bam  MQ20.d4
d4tools create --mapping-qual 60 S01_HyperPlus_Program1_HyperExomev1_Rep1_

[2022-08-04 20:22] petersudmant commented on #57
This is a known issue related to https://github.com/38/d4-format/issues/56 Can you try downloading the latest from github and seeing if it fixes the problem? I had the same issue and my test example worked with the latest code

[2022-08-05 00:29] toddrichmond commented on #57
Thanks, this fixes the issue.

[2022-08-18 23:42] jdidion opened #58 "Does not compile on M1 mac"
I am trying to build this in an ubuntu-based Docker image on an M1 mac and get the error:

[code]

Here is the Dockerfile:

[code]

[2022-08-20 04:23] mrvollger opened #59 "Bug in view? different values when including the first position in a chromosome"
Hello,

I am running into a weird issue where if I include the "0" base of a chromosome in my view command I get a different result than if I start with the 1 position. E.g.
[code]
I thought this might be because 0 is invalid with the region format, but I also get zeros when I don't select any region at all:
[code]

I have my file uploaded here in case that is helpful:
[https://eichlerlab.gs.washi

[2022-08-20 15:48] #57 closed

[2022-08-20 15:48] #56 closed

[2022-08-20 15:48] #55 closed

[2022-08-22 12:57] arq5x commented on #59
Thanks Mitchell, we are looking into this.

[2022-08-23 22:38] jdidion opened #60 "Enable `create` to take input from stdin"
It looks like `create` relies on the file extension to determine the type of input, which precludes using `/dev/stdin` as the input file. Since `create` doesn't have many filtering options, it is often necessary to use `samtools view` to filter the file (e.g. remove duplicate reads) upstream of `create`.

You could be fancy and try to sniff the file type using the magic bytes, or you could just ad

[2022-08-24 13:25] arq5x commented on #60
We will look into this, but will likely be a while before this could be implemented.

[2022-08-27 21:00] mrvollger opened #62 "Missing columns when merging multicolumn files depending on order"
Hello,

I have found that if you merge a multitrack d4 file with additional files the resulting file will only include columns up through the first multitrack d4 file in the merge result. I made an example here that recreates the issue:
https://eichlerlab.gs.washington.edu/help/mvollger/tracks/fiberseq/merge_bug/

In this example I have three bedGraphs `a`, `b`, and `c`. I turn them all into d4 fi

[2022-08-31 20:47] arq5x commented on #62
Thanks for reporting this, @mrvollger. @38 is in the middle of a move so it will take a bit to address these.

[2022-08-31 23:22] mrvollger commented on #62
Of course, also this is easy to work around so not urgent in anyway. I appreciate the tool and all the active development.

[2022-09-01 18:25] brentp commented on #3
As far as I can tell, this is not exposed within d4binding

[2022-09-08 06:32] 38 commented on #62
Thanks for using D4.
Just have a quick look at the issue - This is caused by how D4 find the tracks in a multiple track input.
And this is a bug and I am going to have a fix once I have bandwidth - I am currently still in relocation process.

[2022-09-19 14:00] percyfal opened #64 "no apparent size reduction of multi-track files as function of no of samples"
Hi,

I'm working on a large genome where we have many samples (~1000). For downstream analyses I need to generate per-base sequence masks based on coverages. To save space, I thought I could utilize the merge feature to merge sample-specific d4 coverage files, generated by mosdepth, to a multi-track d4 file, where the columns correspond to coverages from different samples (I know that this isn't t

[2022-09-19 14:28] snystrom commented on #64
I don't know the answer, but I am curious in general what docs exist about the multitrack features. My assumption is that no additional compression is happening for multitrack files, but I can't find details in either the cargo or other language API docs about the feature.

[2022-10-04 12:53] ggozad commented on #58
This also breaks pyd4 on m1 inside a docker container.

[2022-10-11 07:10] dotinspace commented on #58
It appears this can be worked around by letting the compiler infer type, i.e.
[code]
 But since I am no rust dev, I have no idea if that is considered good practice or not.

[2022-11-03 17:31] onordesjo opened #67 "Part size limit causing odd results every 10M bases?"
Hi, thanks for a great tool!

I'm seeing some issues in a d4 file (created with `d4tools create -A basecalls.bam basecalls.d4`).

There appear to be large flat regions in the d4 file every ~10M bases (apparently coinciding with the part size limit?)

It can be seen when running the following for example:

[code]

I have checked with samtools depth that I don't get unexpected outputs in these regio

[2022-11-18 06:24] 38 commented on #59
Hi @mrvollger, thanks for reporting this bug. Please don't mind my delayed reply for some personal reasons.

I confirmed this is a d4 bug and should be fixed. After investigating the bug, I realized that the output
[code]
is expected, while
[code]
is wrong.

The d4 file you provided actually have all none-zero value in chr11.

This bug actually caused by how d4 uses the frame index - the binary se

[2022-11-18 06:24] #59 closed

[2022-11-19 20:43] arq5x commented on #59
Excellent, thanks @38. Might be time for a new formal release!